.bg-dark{
    background-color: blueviolet !important;
}

.w-100{
    width: 100% !important;
}
.carru{
    width: 50% ;

}

.card{
    border-radius: 40px !important;
}

.car-img.top{
    border-radius: 40px 0px !important;
}